<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
  	<body>
	    <form action="/search" method="POST">
			<input type="text" placeholder="Search.." name="search">
			<button type="submit">search</button>
	    </form>
  	</body>
</html>
